:root{
    --color-navbar: #2f0064;
    --color-footer: #100422;
    --color-1:#7937ab;
    --color-2:#672999;
    --color-3:#541c88;
    --color-4:#420e76;
    --color-5: #2f0064;
    --color-1-1: #421173 ;
    --color-1-2: #310c58 ;
    --color-1-3:#000007;

}

body {
    background-image: url(../Assets/img/bgimg.avif);
}

.game-main {
    background-color: #000007a4;
}